.page {
    display: block;
    position: relative;
    min-height: 100vh;
    background-color: #e6e6ff;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    height: 3cm;
    width: 100%;
    background-color: #ABC4FF;
    text-align: center;
}

.geral{
    display: flex;
    align-items: center;
    margin-top: 5%;
    justify-content: center;
    background-color: #e6e6ff;
    padding-bottom: 10%;
}

.titulo{
    padding: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e6ff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.inputs{
    display: flex;
    flex-direction: column;
    flex: 1 4 auto;
    margin-left: 16px;
    margin-right: 16px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 30px;
    background-color: white;
}

.notFound {
    display: none;
    margin-bottom: 12px;
    text-align: center;
    font-size: 13px;
    color: red;
}

.rodape{
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #e6e6ff;
    text-align: center;
}
