#cabecalhoCarrinho{
    display: flex;
    background-color: #ABC4FF;
    width: 100%;
}

#navbar{
    background-color: #ABC4FF;
    width: 100%;
}

#nav1{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ABC4FF;
    align-items: center;
    margin-top: 5px;
}

#formControl{
    border: 1px solid black;
}

#Pesquisar{
    width: 80%;
}

#tags{
    display: flex;
    
}

#nav2{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    align-items: center;
    background-color: #ABC4FF;
}

#fotoPerfil{
    width: 40px;
    height: 40px;
}

#fotoCarrinho{
    width: 40px;
    height: 40px;
    color: black;
}

#nav3{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #e6e6ff;
    color: black;
}

#Inicio{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

#linha1{
    border: 0.1px solid black;
}

#linha{
    border: 1px solid black;
    margin-left: 2%;
    margin-right: 2%;
}

#linha2{
    border: 0.1px solid black;
}

#Produto1{
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#Produto2{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

#Item1{
    height: 100px;
    width: 105px;
}

#Item2{
    height: 100px;
    width: 100px;
}

#Imagem{
    background-color: white;
    text-align: center;
    border: 1px solid black;
    width: 175px;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#Atributos{
    margin-left: 15%;
}

#dropdown-basic-button{
    background-color: whitesmoke;
    border: 1px solid black;
    display: flex;
    margin-left: 90%;
}

#Botão{
    align-items: center;
    margin-left: 25%;
}

#entrega{
    margin-top: 2%;
    margin-left: 3%;
}

#Comprar{
    margin-left: 45%;
    margin-bottom: 3%;
    margin-top: 3%;
}

#Rodape{
    flex-direction: row;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}