/* CSS DA HEADER*/
#navbar{
    background-color: #ABC4FF;
    width: 100%;
    box-shadow: 2px 2px 2px #6f6f70a6;
}

#nav1{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ABC4FF;
    align-items: center;
    margin-top: 5px;
}

#formControl{
    border: 1px solid rgba(0, 0, 0, 0.775);
}

#Pesquisar{
    width: 80%;
    box-shadow: 2px 2px 2px #6f6f70a6;
    border-radius: 5px;
}

#tags{
    display: flex;
}

#nav2{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    align-items: center;
    background-color: #ABC4FF;
}

#fotoPerfil{
    width: 40px;
    height: 40px;
}

#fotoCarrinho{
    width: 40px;
    height: 40px;
}

/* CSS PÁGINA HOME*/

#paginaHome{
    display: flex;
    flex-direction: column;
}

#homeGeral{
    height: 280vh;
}

#myVideo{
    margin-top: 3px;
    width: 100%;
    height: 100%;
}

.produtos1{
    margin-top: 10px;
}

.Carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
  
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px rgb(148, 238, 130);

}

#img{
  margin-top: 2px;
  width: 90%;
  max-width: 120px;
  min-width: 50px;
  height: 35%;
}

#item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 280px;
    width: 100%;
    min-width: 120px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #6f6f70a6;
    font-size: 0.7em;
}