.cabecalho{
    height: 20%;
    width: 100%;
    background-color: #b3b3ff;
    text-align: center;
}

.titulo{
    padding: 50px;
}

#containerCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e6ff;
    height: 100%;
}

#geralCadastro{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
}
